@font-face {
  font-family: Power Clear;
  src: url('../public/fonts/pkmndp.ttf');
}

@font-face {
  font-family: Power Clear Bold;
  src: url("../public/fonts/pkmndpb.ttf");
}

.PokemonFont {
  font-family: Power Clear;
}

.PokemonFont-b {
  font-family: Power Clear Bold;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#root {
  height: 100%;
  display: flex;
  flex-flow: column;
}