#battle-UI {
    position: absolute;
    width: 59.289%;
    height: 100%;
    aspect-ratio: auto 1024 / 768;
    background-image: url('../res/battle/grass_bg.png');
    background-size: cover;
    display: none;
    user-select: none;
    --scale-coefficient: 1.37104752604;
    z-index: 100;
}

.battle-text {
    font-size: 1.5em;
    color: rgb(72, 72, 72);
    text-shadow: 0.05em 0.05em rgb(184, 184, 184);
}


.databox {
    position: absolute;
    scale: calc(var(--scale-coefficient) * var(--scale));
}

.hp {
    position: absolute;
    width: 96px;
    height: 6px;
    transition-duration: 0.666s;
}

#overlay-bag {
    display: flex;
    /* background-color: rgba(20, 20, 20, 0.8); */
    position: absolute;
    width: 100%;
    height: 24%;
    bottom: 0%;
    background-color: #818181;
    /* position: absolute;
    font-family: Power Clear;
    font-size: 1em;
    width: 30%;
    height: 50%;
    border: 1px solid #343a40;
    border-radius: 0.4em;
    padding-right: 0;
    padding-top: calc(var(--bs-gutter-x) * .3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    user-select: none;
    display: none;
    z-index: 9; */
}

#bagHeader {
    background-color: #4c4c4c;
    height: 100%;
    width: 20%;
    display: grid;
    grid-template-columns: auto;
    /* gap: 2%; */
    /* overflow-y: auto; */
}

#bagTitle {
    padding-left: 4%;
    padding-right: 4%;
    font-size: calc(var(--scale) * 14px);
    /* font-size: 2em; */
}

.bag-tab {
    display: block;
    /* Remove align-items and justify-content properties as they are not needed */
    /* margin-left: -1%; */
    /* background-color: rgba(77, 77, 77, 0.7); */
    border: calc(var(--scale) * 1px) solid rgba(44, 44, 44);
    /* width: 16%; */
    padding-left: 2%;
    padding-right: 2%;
    height: 100%;
    /* transform: skew(-20deg); */
}

.bag-tab.selected {
    background-color: rgba(55, 55, 55);
    /* border: calc(var(--scale) * 1px) solid rgba(77, 77, 77, 0.4); */
}

.bag-tab:not(.selected) {
    background-color: rgb(92, 92, 92);
}

.bag-tab:hover {
    cursor: pointer;
    background-color: rgb(62, 62, 62);
}

.bag-tab:hover:not(.selected) {
    background-color: rgb(110, 110, 110);
}

.bag-tab-text {
    margin-top: 5%;
    font-size: calc(var(--scale) * 15px);
    color: white;
    /* text-shadow: calc(var(--scale) * 1px) calc(var(--scale) * 1px) #343434; */
    transform: skew(20deg);
}

#bag-grid {
    display: grid;
    grid-template-columns: repeat(8, 10%);
    grid-template-rows: repeat(5, 42%);
    padding: 1%;
    gap: 3%;
    width: 60%;
    height: 100%;
    overflow-y: auto;
}

#bag-grid::-webkit-scrollbar {
    display: none;
}

.bag-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5f5f5f;
    aspect-ratio: 1/1;
}

.bag-item:hover {
    cursor: pointer;
}

.bag-item-icon {
    image-rendering: auto;
    -webkit-user-drag: none;
    height: 90%;
    top: 5%;
}

.bag-item-count {
    position: absolute;
    right: 3%;
    bottom: -5%;
    font-size: calc(var(--scale) * 11px);
    /* font-weight: bold; */
    color: white;
    /* text-shadow: calc(var(--scale) * 1px) calc(var(--scale) * 1px) #454545; */
}

#bagItems {
    /* height: calc(100% - 50px);
    overflow-y: scroll;
    padding: 10px;
    color: white; */
}

#bag-list {
    /* max-height: calc(100% - 70px);
    overflow-y: auto;
    color: white;
    user-select: none; */
}

.bag-label {
    /* padding: 0.5em 0.65em; */
}

.bag-item-image {
    width: 2.5em;
    padding-right: 0.5em;
    pointer-events: none;
    image-rendering: auto;
}

.bag-item-button {
    background-color: #343a40;
    color: white;
    margin-top: 1%;
    margin-right: 1%;
}

.hp.small {
    width: 96px;
    height: 6px;
    transition-duration: 0s;
}

.switch-hpbar-outline {
    position: absolute;
    width: 97px;
    height: 7px;
    transform-origin: left bottom;
    scale: var(--scale);
    bottom: 0%;
}

.switch-hpbar-outline.g {
    border: 0.05rem solid #18C020;
}

.switch-hpbar-outline.y {
    border: 0.05rem solid #F8B000;
}

.switch-hpbar-outline.r {
    border: 0.05rem solid #F85828;
}

.hp.g {
    background-image: url('../res/battle/gui/overlay_hp_g.png');
}

.hp.y {
    background-image: url('../res/battle/gui/overlay_hp_y.png');
}

.hp.r {
    background-image: url('../res/battle/gui/overlay_hp_r.png');
}

#xpbar {
    position: absolute;
    background-image: url('../res/battle/gui/overlay_exp.png');
    width: 192px;
    height: 4px;
    background-position-y: 0px;
    left: 40px;
    top: 74px;
}

.lvl {
    position: absolute;
    background-image: url('../res/battle/gui/overlay_lv.png');
    width: 22px;
    height: 14px;
}

.lvl.you {
    right: 65px;
    top: 16px;
}

#lvl-text-you {
    font-size: 1.1em;
    font-weight: bold;
    position: absolute;
    left: 194px;
    top: 9px;
}

.lvl.foe {
    right: 84px;
    top: 16px;
}

#lvl-text-foe {
    font-size: 1.1em;
    font-weight: bold;
    position: absolute;
    left: 177px;
    top: 9px;
}

.pokemon.you {
    position: absolute;
    bottom: 24.427%;
    left: -5%;
    width: calc(500px * var(--scale));
    height: calc(64px * var(--scale));
    text-align: center;
}

.pokemon.you img {
    position: absolute;
    scale: calc(3.3 * var(--scale));
    transform-origin: left bottom;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 10%);
}

.databox.you {
    position: absolute;
    right: 0%;
    bottom: 32%;
    width: 260px;
    height: 84px;
    transform-origin: right bottom;
    background-image: url('../res/battle/gui/databox_normal.png');
}

#pokemon-name-you {
    position: absolute;
    left: 16%;
    top: 4.762%;
    height: 40.476%;
}

#hpbar-you {
    left: 136px;
    top: 40px;
}

#hpvalue-container {
    position: absolute;
    left: 43.846%;
    top: 61.905%;
    width: 124px;
    height: 16px;
}

#hpvalue-you {
    display: flex;
    height: inherit;
    width: inherit;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.pokemon.foe {
    position: absolute;
    top: 15%;
    right: 5%;
    width: calc(256px * var(--scale));
    height: calc(128px * var(--scale));
    /* overflow: hidden; */
}

.pokemon.foe img {
    position: absolute;
    scale: calc(2 * var(--scale));
    transform-origin: bottom center;
    bottom: 0%;
    left: 50%;
    user-select: none;
    transition: 1s;
}

@keyframes sink {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(200%);
    }
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sink {
    animation: sink 1.2s forwards;
}

.flash {
    animation-name: flash;
    animation-duration: 0.2s;
    animation-timing-function: steps(1);
    animation-iteration-count: 3;
}

/*just for debug*/
.pokemon.foe:hover {
    /* animation: sink 1.2s forwards; */


    /* animation-name: flash;
    animation-duration: 0.2s;
    animation-timing-function: steps(1);
    animation-iteration-count: 3; */
}

.databox.foe {
    position: absolute;
    left: 0%;
    top: 9.375%;
    width: 260px;
    height: 62px;
    transform-origin: left top;
    background-image: url('../res/battle/gui/databox_normal_foe.png');
}

#pokemon-name-foe {
    position: absolute;
    left: 3%;
    top: 6.452%;
    height: 54.838%;
}

#hpbar-foe {
    left: 118px;
    top: 40px;
}

@keyframes faint_foe {
    0% {
        transform: translateY(0);
        height: auto;
    }

    100% {
        transform: translateY(150%);
        height: 0px;
    }
}

.pokemon.foe.fainted {
    animation: faint_foe 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes faint_you {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(150%);
    }
}

.pokemon.you.fainted {
    animation: faint_you 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 24.427%;
    bottom: 0%;
}

#overlay-command {
    background-image: url('../res/battle/gui/overlay_command.png');
    background-size: cover;
}

#overlay-switch {
    background-image: url('../res/battle/gui/overlay_switch.png');
    background-size: cover;
}

.switch-button {
    background-color: #343a40;
    font-size: .8em;
    border-radius: 8px;
    width: 24%;
    height: 40%;
    border: 0.15rem solid white;
    color: white;
}

.switch-image {
    width: 36%;
    height: 100%;
}

.switch-info {
    position: absolute;
    width: 65%;
    height: 80%;
    right: 0%;
    top: 10%;
}

.switch-info p {
    width: fit-content;
    scale: calc(1.2 * var(--scale));
    transform-origin: left top;
}

.pkmn-alive:hover:not([name="pkmn-1"], .pkmn-fainted) {
    cursor: pointer;
    background-color: rgb(107, 107, 107);
}

.pkmn-fainted {
    background-color: rgb(147, 87, 87);
}


#pkmn1 {
    position: absolute;
    top: 8%;
    left: 2%;
    cursor: default;
}

#pkmn1:not(.pkmn-fainted) {
    background-color: rgb(87, 114, 147);
}

#pkmn2 {
    position: absolute;
    top: 8%;
    left: 28%;
}

#pkmn3 {
    position: absolute;
    top: 8%;
    left: 54%;
}

#pkmn4 {
    position: absolute;
    top: 55%;
    left: 2%;
}

#pkmn5 {
    position: absolute;
    top: 55%;
    left: 28%;
}

#pkmn6 {
    position: absolute;
    top: 55%;
    left: 54%;
}

#overlay-fight {
    position: absolute;
    width: 100%;
    height: 24.427%;
    bottom: 0%;
    background-image: url('../res/battle/gui/overlay_fight.png');
    background-size: cover;
}

#overlay-message {
    position: absolute;
    width: 100%;
    height: 24.427%;
    bottom: 0%;
    background-image: url('../res/battle/gui/overlay_message.png');
    background-size: cover;
}

.switch-row {
    height: 100%;
}

#dialogue {
    position: absolute;
    width: 89.767%;
    height: 96.196%;
    bottom: -4%;
    right: 4.56%;
    font-size: 3vw;
    overflow: hidden;
}

.grassbase0 {
    position: absolute;
    bottom: 24.427%;
    left: -5%;
    width: 512px;
    height: 64px;
    scale: calc(1 * var(--scale));
    transform-origin: left bottom;
    background-image: url('../res/battle/grass_base0.png');
}

.grassbase1 {
    position: absolute;
    top: 25%;
    right: 0%;
    width: 256px;
    height: 128px;
    scale: calc(1 * var(--scale));
    transform-origin: right top;
    background-image: url('../res/battle/grass_base1.png');
}

.fight-command div {
    position: absolute;
    aspect-ratio: auto 184 / 38;
    width: 184px;
    height: 38px;
    scale: calc((var(--scale-coefficient) + 0.0033) * var(--scale));
    transform-origin: left bottom;
    background-image: url('../res/battle/gui/cursor_fight.png');
    background-position-x: -4px;
    /* line-height: 38px; */
}

.movename {
    position: absolute;
    font-size: 85%;
    top: 10%;
    margin-left: 14%;
}

.movetype {
    /* bottom: 12%; */
    position: absolute;
    left: 2%;
    bottom: -5%;
    scale: 0.35;
    image-rendering: auto;
}

.movepp {
    position: absolute;
    font-size: 70%;
    left: 30%;
    bottom: 5%;
}

.fight-command #move1 {
    left: 1.6%;
    bottom: 50%;
}

.fight-command #move2 {
    left: 38.4%;
    bottom: 50%;
}

.fight-command #move3 {
    left: 1.6%;
    bottom: 6.2%;
}

.fight-command #move4 {
    left: 38.4%;
    bottom: 6.2%;
}

.fight-command div:hover {
    cursor: pointer;
    filter: brightness(0.75);
}

.fight-command>.normal {
    background-position-y: -4px;
}

.fight-command>.fighting {
    background-position-y: -50px;
}

.fight-command>.flying {
    background-position-y: -96px;
}

.fight-command>.poison {
    background-position-y: -142px;
}

.fight-command>.ground {
    background-position-y: -188px;
}

.fight-command>.rock {
    background-position-y: -234px;
}

.fight-command>.bug {
    background-position-y: -280px;
}

.fight-command>.ghost {
    background-position-y: -326px;
}

.fight-command>.steel {
    background-position-y: -372px;
}

.fight-command>.unknown {
    background-position-y: -418px;
}

.fight-command>.fire {
    background-position-y: -464px;
}

.fight-command>.water {
    background-position-y: -510px;
}

.fight-command>.grass {
    background-position-y: -556px;
}

.fight-command>.electric {
    background-position-y: -602px;
}

.fight-command>.psychic {
    background-position-y: -648px;
}

.fight-command>.ice {
    background-position-y: -694px;
}

.fight-command>.dragon {
    background-position-y: -740px;
}

.fight-command>.dark {
    background-position-y: -786px;
}

.fight-command>.fairy {
    background-position-y: -832px;
}

.fight-command .cancel {
    position: absolute;
    aspect-ratio: auto 126 / 38;
    width: 122px;
    height: 39px;
    scale: calc(var(--scale));
    transform-origin: right bottom;
    background-image: url('../res/battle/gui/cursor_command.png');
    background-position-x: -134px;
    background-position-y: -418px;
    right: 2.25%;
    bottom: 5%;
}

#overlay-switch .cancel {
    position: absolute;
    aspect-ratio: auto 126 / 38;
    width: 122px;
    height: 39px;
    scale: calc(var(--scale));
    transform-origin: right bottom;
    background-image: url('../res/battle/gui/cursor_command.png');
    background-position-x: -134px;
    background-position-y: -418px;
    right: 2.25%;
    bottom: 5%;
}

#overlay-bag .cancel {
    position: absolute;
    aspect-ratio: auto 126 / 38;
    width: 122px;
    height: 39px;
    scale: calc(var(--scale));
    transform-origin: right bottom;
    background-image: url('../res/battle/gui/cursor_command.png');
    background-position-x: -134px;
    background-position-y: -418px;
    right: 3%;
    bottom: 5%;
}

.fight-command .cancel:hover {
    cursor: pointer;
    background-position-x: -4px;
    filter: brightness(1);
}

#overlay-switch .cancel:hover {
    cursor: pointer;
    background-position-x: -4px;
    filter: brightness(1);
}

#overlay-bag .cancel:hover {
    cursor: pointer;
    background-position-x: -4px;
    filter: brightness(1);
}

.command div {
    position: absolute;
    aspect-ratio: auto 126 / 38;
    width: 122px;
    height: 39px;
    scale: calc(1.3 * var(--scale));
    transform-origin: right bottom;
    background-image: url('../res/battle/gui/cursor_command.png');
    background-position-x: -134px;
}

.command .fight {
    background-position-y: -4px;
    right: 27%;
    bottom: 51%;
}

.command .pkmn {
    background-position-y: -50px;
    right: 3%;
    bottom: 51%;
}

.command .bag {
    background-position-y: -95px;
    right: 27%;
    bottom: 6%;
}

.command .run {
    background-position-y: -141px;
    right: 3%;
    bottom: 6%;
}


#command-message {
    position: absolute;
    left: 5%;
    top: 10%;
    scale: calc(var(--scale-coefficient) * var(--scale));
    transform-origin: left top;
    overflow-wrap: break-word;
}

.command div:hover {
    cursor: pointer;
    background-position-x: -4px;
}