#battle-UI {
    position: absolute;
    width: 59.289%;
    height: 100%;
    aspect-ratio: auto 1024 / 768;
    background-image: url('../res/battle/grass_bg.png');
    background-size: cover;
    display: none;
    user-select: none;
}

.pokemon.you {
    position: absolute;
    bottom: 24.427%;
    left: -5%;
    width: calc(500px * var(--scale));
    height: calc(64px * var(--scale));
    text-align: center;
}

.pokemon.you img {
    position: absolute;
    scale: calc(4 * var(--scale));
    transform-origin: left bottom;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 10%);
}

.pokemon.foe {
    position: absolute;
    top: 15%;
    /* 25% */
    right: 0%;
    width: calc(256px * var(--scale));
    height: calc(128px * var(--scale));
}

.pokemon.foe img {
    position: absolute;
    scale: calc(2 * var(--scale));
    transform-origin: left bottom;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    user-select: none;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 24.427%;
    bottom: 0%;
    background-image: url('../res/battle/gui/overlay_command.png');
    background-size: cover;
}

#overlay-fight {
    position: absolute;
    width: 100%;
    height: 24.427%;
    bottom: 0%;
    background-image: url('../res/battle/gui/overlay_fight.png');
    background-size: cover;
}

#overlay-message {
    position: absolute;
    width: 100%;
    height: 24.427%;
    bottom: 0%;
    background-image: url('../res/battle/gui/overlay_message.png');
    background-size: cover;
}

#dialogue {
    position: absolute;
    width: 89.767%;
    height: 96.196%;
    bottom: -4%;
    right: 4.56%;
    font-size: 3vw;
    overflow: hidden;
}

.grassbase0 {
    position: absolute;
    bottom: 24.427%;
    left: -5%;
    width: 512px;
    height: 64px;
    scale: calc(1 * var(--scale));
    transform-origin: left bottom;
    background-image: url('../res/battle/grass_base0.png');
}

.grassbase1 {
    position: absolute;
    top: 25%;
    right: 0%;
    width: 256px;
    height: 128px;
    scale: calc(1 * var(--scale));
    transform-origin: right top;
    background-image: url('../res/battle/grass_base1.png');
}

.command div {
    position: absolute;
    aspect-ratio: auto 126 / 38;
    width: 122px;
    height: 39px;
    scale: calc(1.3 * var(--scale));
    transform-origin: right bottom;
    background-image: url('../res/battle/gui/cursor_command.png');
    background-position-x: -134px;
}

.command .fight {
    background-position-y: -4px;
    right: 27%;
    bottom: 51%;
}

.command .pkmn {
    background-position-y: -50px;
    right: 3%;
    bottom: 51%;
}

.command .bag {
    background-position-y: -95px;
    right: 27%;
    bottom: 6%;
}

.command .run {
    background-position-y: -141px;
    right: 3%;
    bottom: 6%;
}

.command div:hover {
    cursor: pointer;
    background-position-x: -4px;
}