#battle-UI {
    position: absolute;
    width: 59.289%;
    height: 100%;
    aspect-ratio: auto 1024 / 768;
    background-image: url('../res/battle/grass_bg.png');
    background-size: cover;
    display: none;
    user-select: none;
}

.pokemon {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pokemon.you {
    width: 55%;
    height: 55%;

    position: absolute;
    left: 0;
    bottom: calc(var(--min-thing) * -2 / 75);
}

.pokemon.foe {
    width: 45%;
    height: 45%;

    position: absolute;
    right: 4.5%;
    top: 4.5%;

    background-size: 100%;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 24.427%;
    bottom: 0%;
    background-image: url('../res/battle/overlay_command.png');
    background-size: cover;
}

#overlay-fight {
    position: absolute;
    width: 100%;
    height: 24.427%;
    bottom: 0%;
    background-image: url('../res/battle/overlay_fight.png');
    background-size: cover;
}

#overlay-message {
    position: absolute;
    width: 100%;
    height: 24.427%;
    bottom: 0%;
    background-image: url('../res/battle/overlay_message.png');
    background-size: cover;
}

#dialogue {
    position: absolute;
    width: 89.767%;
    height: 96.196%;
    bottom: -4%;
    right: 4.56%;
    font-size: 3vw;
    overflow: hidden;
}

.command div {
    position: absolute;
    aspect-ratio: auto 126 / 38;
    width: 122px;
    height: 39px;
    scale: calc(1.3 * var(--scale));
    transform-origin: right bottom;
    background-image: url('../res/battle/cursor_command.png');
    background-position-x: -134px;
}

.command .fight {
    background-position-y: -4px;
    right: 27%;
    bottom: 51%;
}

.command .pkmn {
    background-position-y: -50px;
    right: 3%;
    bottom: 51%;
}

.command .bag {
    background-position-y: -95px;
    right: 27%;
    bottom: 6%;
}

.command .run {
    background-position-y: -141px;
    right: 3%;
    bottom: 6%;
}

.command div:hover {
    cursor: pointer;
    background-position-x: -4px;
}