body {
    overflow: hidden;
}

.tooltip {
    font-family: Power Clear;
    font-size: 1.5vmin;
}

.draggable {
    padding: 10px;
    cursor: move;
    z-index: 10;
}

#game {
    position: absolute;
    aspect-ratio: auto 1184 / 540;
    image-rendering: pixelated;
}

#settings-holder {
    z-index: 9;
}

#timeLabel {
    border: none;
    color: white;
}

#party-div {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: rgba(20, 20, 20, 0.8); */
    width: 10%;
    height: 66%;
    top: 17%;
    left: 0;
}

.party-mon-div {
    display: flex;
    background-color: rgba(20, 20, 20, 0.8);
    width: 100%;
    height: 13%;
    border-top-right-radius: 5%;
    border-end-end-radius: 20%;
}

.party-mon-sprite-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(20, 20, 20, 0.5);
    margin: 7%;
    width: 25.4%;
    aspect-ratio: 1/1;
    border-radius: 4%;
}

.party-mon-sprite {
    aspect-ratio: 4/3;
    width: 100%;
    /* transform: scaleX(-1); */
}

.party-mon-hp-div {
    width: 100%;
    height: 24.23%;
}

.party-mon-hp {
    margin-top: 2.9%;
    scale: calc(var(--scale) / 3.18);
    transform: scaleY(1.8);
    transform-origin: top left;
}

/* .party-mon-level-div {
    text-align: center;
    font-size:  calc(var(--scale) * 8px);
    color: white;
    width: 100%;
    height: 28%;
    margin-top: 20%;
} */

.party-mon-content-div {
    display: flex;
    flex-direction: column;
    margin-top: 6%;
    color: white;
    width: 60%;
}

.party-mon-name {
    font-size:  calc(var(--scale) * 12px);
}

.party-mon-level {
    font-size:  calc(var(--scale) * 9px);
}

.type {
    background-image: url("../res/gui/icons/types.png");
    background-repeat: no-repeat;
    width: 64px;
    height: 28px;
}
.type.normal {
    background-position-y: 0px;
}
.type.fighting {
    background-position-y: -28px;
}
.type.flying {
    background-position-y: -56px;
}
.type.poison {
    background-position-y: -84px;
}
.type.ground {
    background-position-y: -112px;
}
.type.rock {
    background-position-y: -140px;
}
.type.bug {
    background-position-y: -168px;
}
.type.ghost {
    background-position-y: -196px;
}
.type.steel {
    background-position-y: -224px;
}
.type.unknown {
    background-position-y: -252px;
}
.type.fire {
    background-position-y: -280px;
}
.type.water {
    background-position-y: -308px;
}
.type.grass {
    background-position-y: -336px;
}
.type.electric {
    background-position-y: -364px;
}
.type.psychic {
    background-position-y: -392px;
}
.type.ice {
    background-position-y: -420px;
}
.type.dragon {
    background-position-y: -448px;
}
.type.dark {
    background-position-y: -476px;
}
.type.fairy {
    background-position-y: -504px;
}