body {
    overflow: hidden;
}

#game {
    position: absolute;
    /* left: 50%;
    top: 50%; */
    /* width: 100%;
    height: 80%; */
    transform: translate3d(-50%, -50%, 0);
    image-rendering: pixelated;
}