/* #inventoryBtn {
  width: 100px;
  background-image: url("../res/gui/icons/backpack_sprite_closed.png");
  background-repeat: no-repeat;
  background-position: 50%;
}*/
.card-header:hover {
  cursor: move;
}

#inventoryBtn:focus {
  outline: none;
  box-shadow: none;
}

#inventoryIcon:hover {
  content: url("../res/gui/icons/backpack_sprite_open.png");
}

#inventory-UI {
  position: absolute;
  background-color: rgba(20, 20, 20, 0.8);
  width: 30%;
  height: 50%;
  /* position: absolute;
  font-family: Power Clear;
  font-size: 1em;
  width: 30%;
  height: 50%;
  border: 1px solid #343a40;
  border-radius: 0.4em;
  padding-right: 0;
  padding-top: calc(var(--bs-gutter-x) * .3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  user-select: none;
  display: none;
  z-index: 9; */
}

#inventoryHeader {
  display: flex;
  align-items: center;
  background-color: rgba(20, 20, 20, 0.7);
  width: 100%;
  height: 10%;
  /* padding-bottom: 2%;
  color: white; */
}

#inventoryTitle {
  padding: 2%;
  padding-left: 4%;
  padding-right: 4%;
  font-size: calc(var(--scale) * 14px);
  /* font-size: 2em; */
}

.inventory-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: -1%; */
  background-color: rgba(77, 77, 77, 0.7);
  border: calc(var(--scale) * 1px) solid rgba(77, 77, 77, 0.7);
  /* width: 16%; */
  padding-left: 2%;
  padding-right: 2%;
  height: 100%;
  transform: skew(-20deg);
}

.inventory-tab.selected {
  background-color: rgba(77, 77, 77, 0.45);;
  border: calc(var(--scale) * 1px) solid rgba(77, 77, 77, 0.4);
}

.inventory-tab:hover {
  cursor: pointer;
}

.inventory-tab:hover:not(.selected) {
  background-color: rgba(77, 77, 77, 1);
}

.inventory-tab-text {
  margin-top: 5%;
  font-size: calc(var(--scale) * 10px);
  text-shadow: calc(var(--scale) * 1px) calc(var(--scale) * 1px) #343434;
  transform: skew(20deg);
}

#inventory-grid {
  display: grid;
  grid-template-columns: repeat(9, 10.2%);
  grid-template-rows: repeat(5, 16%);
  padding: 3%;
  gap: 1%;
  background-color: rgba(7, 7, 7, 0.2);
  width: 100%;
  height: 90%;
  overflow-y: auto;
}

.inventory-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(99, 99, 99, 0.3);
  aspect-ratio: 1/1;
}

.inventory-item-icon {
  width: 85%;
  image-rendering: auto;
  -webkit-user-drag: none;
}

.inventory-item-count {
  position: absolute;
  right: 3%;
  bottom: -5%;
  font-size: calc(var(--scale) * 11px);
  text-shadow: calc(var(--scale) * 1px) calc(var(--scale) * 1px) #454545;
}

#inventoryItems {
  /* height: calc(100% - 50px);
  overflow-y: scroll;
  padding: 10px;
  color: white; */
}

#item-list {
  /* max-height: calc(100% - 70px);
  overflow-y: auto;
  color: white;
  user-select: none; */
}

.item-label {
  /* padding: 0.5em 0.65em; */
}

.item-image {
  /* width: 2.5em;
  padding-right: 0.5em;
  pointer-events: none;
  image-rendering: auto; */
}

.item-button {
  /* background-color: #343a40;
  color: white;
  margin-top: 1%;
  margin-right: 1%; */
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-body {
  margin-top: -1%;
}

/* .accordion-header {
  outline: none;
} */

.accordion-button::after {
  filter: brightness(100);
}

#item-discard {
  display: none;
}

.popup-container {
  width: 20%;
  height: 20%;
  z-index: 10;
}

.quantity-dropdown {
  width: 32%;
  outline: none;
  margin-top: 5%;
}