#pokemon-summary {
    position: absolute;
    font-family: Power Clear;
    text-shadow: 0.15vmin 0.15vmin #454545;
    width: 42vmin;
    height: 49.5vmin;
    border-radius: 0.5vmin;
    user-select: none;
    display: none;
    scale: 1.2;
    transform-origin: top left;
}

#pokemon-summary-header {
    font-size: 2vmin;
    padding-left: 1.3vmin;
    padding-top: 0.25vmin;
    padding-bottom: 0.25vmin;
}

#pokemon-summary-header:hover {
    cursor: move;
}

#stats-body {
    position: relative;
    background-color: #425058;
    /* #212529; */
    font-size: 1.6vmin;
    margin-left: 0.7vmin;
    margin-right: 0.7vmin;
    height: 45vmin;
    border-bottom-right-radius: 0.5vmin;
}

#stats-body-left {
    position: absolute;
    margin-top: 0.7vmin;
    margin-left: 0.7vmin;
    height: 100%;
    width: 20.75vmin;
    text-align: center;
}

#stats-name-card {
    position: relative;
    background-color: lightgray;
    /* margin-top: 1vmin;
    margin-left: 1vmin; */
    margin-bottom: 0.7vmin;
    height: 25vmin;
    border-radius: 0.5vmin;
}

#stats-sprite-container {
    height: 22vmin;
    align-items: center;
    justify-content: center;
    display: flex;
}

#stats-sprite {
    position: relative;
    scale: calc(2 * var(--vmin-scale));
    /* transform-origin: center; */
}

#stats-name-tag {
    margin-top: -0.5vmin;
    background-color: #888888;
}

#stats-caught-ball {
    height: 2.5vmin;
    margin-bottom: 0.2vmin;
}

#stats-hp-bar {
    font-size: 1.1vmin;
    margin-top: 0.5vmin;
    height: 1.1vmin;
}

#stats-xp-bar {
    font-size: 1.1vmin;
    margin-top: 0.5vmin;
    margin-bottom: 1vmin;
    height: 1.1vmin;
}

#stats-body-right {
    position: absolute;
    right: 0;
    margin-top: 0.7vmin;
    margin-right: 0.7vmin;
    height: 100%;
    width: 17.75vmin;
    border-radius: 0.5vmin;
}

.stats-field {
    background-color: #888888;
    width: 100%;
    height: 2.5vmin;
    line-height: 2.5vmin;
    margin-bottom: 0.5vmin;
    border-radius: 0.5vmin;
    display: flex;
}

.stats-label {
    background-color: #212529;
    /* arnav: 212529*/
    /* harry: 2c005b */
    height: 100%;
    width: 36%;
    border-radius: 0.5vmin;
    text-align: center;
}

.stats-label-m {
    background-color: #212529;
    height: 100%;
    width: 30%;
    border-radius: 0.5vmin;
    text-align: center;
}

/* .stats-label-s {
    background-color: #212529;
    height: 100%;
    width: 21%;
    border-radius: 0.5vmin;
    text-align: center;
    font-size: 1.4vmin;
} */

.stats-data {
    position: relative;
    height: 100%;
    width: 64%;
    text-align: right;
    padding-right: 0.7vmin;
}

.stats-data-full {
    height: 100%;
    width: 100%;
    text-align: center;
}

.stats-data-l {
    height: 100%;
    width: 79%;
    text-align: right;
}

#move1-div {
    margin-top: 1vmin;
}

.stats-move-name {
    padding-left: 0.7vmin;
    height: 100%;
    width: 74%;
    text-align: left;
}
.stats-move-type-div {
    height: 100%;
    width: 26%;
}
.stats-move-type {
    margin-top: 0.2vmin;
    scale: calc(0.7*var(--vmin-scale));
    transform-origin: top left;
    image-rendering: auto;
}

.stats-type-data {
    position: relative;
    image-rendering: auto;
    height: 100%;
    width: 64%;
    /* align-items: center;
    justify-content: space-between; */
}

.stats-type1 {
    position: absolute;
    top: 0.2vmin;
    left: 0.6vmin;
    scale: calc(0.7*var(--vmin-scale));
    transform-origin: top left;
    /* padding-left: 2.5vmin; */
}
.stats-type2 {
    position: absolute;
    top: 0.18vmin;
    right: 0.6vmin;
    scale: calc(0.7*var(--vmin-scale));
    transform-origin: top right;
    /* padding-left: 2.5vmin; */
}

#stats-happiness {
    font-size: 1.4vmin;
}

#stats-stat-labels {
    width: 100%;
    height: 2vmin;
    line-height: 2vmin;
    display: flex;
    text-align: center;
}

#stats-stat-label {
    margin-left: 36%;
    width: 32%;
}

#stats-iv-label {
    width: 16%;
}

#stats-ev-label {
    width: 16%;
}

.stats-data-flex {
    display: flex;
    position: relative;
    height: 100%;
    width: 70%;
    text-align: center;
}

.stats-data-flex-child-l {
    height: 100%;
    width: 50%;
    /* width: 46.875%; */
}

.stats-data-flex-child-s {
    height: 100%;
    width: 25%;
    /*width: 23.4375%;*/
}

#stats-hp-stat {
    font-size: 1.4vmin;
}
/* #stats-hp-iv {
    width: 22%;
}
#stats-hp-ev {
    width: 22%;
} */

.stats-iv {
    color: #ede98d;
    /* ffc107, ede98d */
}

.stats-ev {
    /* text-shadow: 0.15vmin 0.15vmin #2f4472; */
    color: #80f075;
    /*#78abe6, 0077ff, 5fd455, 14f053, planet:a9f0a2*/
    font-size: 1.4vmin;
}

/* #sprite {
    image-rendering: pixelated;
    width: 200%;
}

#stats li {
    font-size: 1.2em;
}

#move-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 80%;
}

#move-list li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1.2em;
}

#move-list li::hover {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1.2em;
}*/

/* #move-list li span {
    position: absolute;
    margin-left: -1.3em;
} */

/* .card-header {
    cursor: move;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-link {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.nav-tabs .nav-link.active {
    color: #fff;
    background-color: #545a60;
    border-color: #545a60;
}

.list-group-item {
    background-color: #242a30;
    color: #fff;
    position: relative;
}

.list-group-item strong {
    color: #ffc107;
}

.tab-pane {
    height: 100%;
    min-height: 242px;
    color: #fff;
    background-color: #343a40;
    padding: 20px;
}

.tab-pane h3 {
    color: #ffc107;
    margin-top: 0;
}

.tab-pane table {
    color: whitesmoke;
}

.tab-pane td {
    text-align: right;
}

.tab-pane .table>:not(caption)>*>* {
    padding: 0.24rem 1rem;
}

.move-item {
    cursor: ns-resize;
}

.unselectable {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
} */

.medblue {
    color: #78abe6;
}

.blue {
    color: #0077ff;
}

.green {
    color: #14f053;
}

.red {
    color: #ff3737;
}

.shiny {
    color: #ffc107;
}