/* canvas {
    image-rendering: pixelated;
} */

@font-face {
    font-family: Power Clear;
    src: url('../res/fonts/pkmndp.ttf');
}

/* @font-face {
    font-family: FireRedRegular;
    src: url('../res/fonts/pkmndp.ttf');
} */

@font-face {
    font-family: Power Clear Bold;
    src: url("../res/fonts/pkmndpb.ttf");
}

/* @font-face {
    font-family: 'Pokemon Font Regular';
    src: url('../res/fonts/pokemon_pixel_font.ttf');
} */

.PokemonFont {
    font-family: Power Clear;
}

.PokemonFont-b {
    font-family: Power Clear Bold;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #cdcdcd #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #cdcdcd;
    /* border-radius: 10px; */
    /* border: 3px solid #ffffff; */
}

.navbar-brand {
    font-size: var(--bs-nav-link-font-size);
}