/* canvas {
    image-rendering: pixelated;
} */

@font-face {
    font-family: Power Clear;
    src: url('../res/fonts/pkmndp.ttf');
}

.PokemonFont {
    font-family: Power Clear;
}

.navbar-brand {
    font-size: var(--bs-nav-link-font-size);
}

#game {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    image-rendering: pixelated;
}