/* @keyframes moveHero {
    from { background-position: 0 0; }
    to { background-position: 0 -1268px; }
} */

.card {
    width: 28%;
    min-width: 300px;
    overflow: hidden;
    transition-duration: 0.3s;
}

.card:hover {
    transform: scale(1.08);
}

/* add keyframe in future by making it loop back on itself */
#hero {
    background-image: url("../res/beta_testing.PNG");
    background-size: cover;
    min-height: 100vh;
    image-rendering: pixelated;
    overflow: visible;
    /* animation: moveHero 10s linear infinite; */
    background-attachment: fixed;
}

#hero-text {
    min-width: 260px;
    width: 35%;
    --bs-bg-opacity: 0.85;
    backdrop-filter: blur(3px);
}