/* body {
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;
}
*/
/* #game {
    dis
} */

#game {
    height: 100%;
    position: relative;
}

#game-container {
    height: 100%;
    width: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

#ui-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}