.level-container {
    display: flex;
    margin-left: auto;
    height: 1.5em;
    line-height: 1.5em;
}

.level-label {
    font-family: 'Power Clear Bold';
    color: gold;
    font-size: 0.55em;
}

.level {
    font-size: 0.8em;
}

.gold {
    color: gold;
}